name: nerdy
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 9999

    steps:
      - name: Downloading tools
        run: |
          pip install yt-dlp wget ffmpeg rclone
